html, body
{
    height: 100%;
    width: 100%;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #3E546E

}

.container{
    align-items: center;
    background-color: #fff;
    color: auto;
    height: 418px;
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    color: #4c4c52;
    padding: 45px;
    margin-bottom: 72px;
}

.logo {
    background-image: url(images/logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    width: 100px;
    margin-bottom: 0px;

}

.container h2{
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 20px;

}

.input1{
    padding: 0px 0px 0px 15px;

}
.phonenumber{
    background-color: #d8d8ea;
    border: none;
    margin-bottom: 25px;
    
}

.input{
    background-color:#c9c9d6;
}

#phone{
    background-color: #f3f7f9;
    border: none;
    width: 290px;
    height: 55px;
    
}

#passw{
    background-color: #f3f7f9;
    border: none;
    width: 290px;
    height: 55px;
    border-radius: 5px;
  
}



.password{
    margin-bottom: 40px;

}

.rememberme{
    padding-right: 70px;
    color: #3E546E;
}

.checkbox{
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin-top: -1px;
}
.passwordforgot{
    display: inline;
}

.button button{
    background-color: #5b77fe;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 3px;
    width: 300px;
    text-transform: uppercase;
    cursor: pointer;
    height: 55px;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2px;

}

.password1{
    text-decoration: none;
    border-bottom: dashed;
    border-bottom-width: thin;
    padding: 4px;
    color: #587cdd;

}
